@{
    ViewData["Title"] = "Home Page";
}

@* <div class="row">
    <div class="col-md-6">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-5 fw-bold lh-1 mb-3">Image</h1>
            <img src="https://getbootstrap.com/docs/5.0/examples/heroes/bootstrap-docs.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" id="image">
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic animi natus ab ullam molestias perferendis porro ut reiciendis, laudantium autem, fugiat dolorum aperiam, unde adipisci! Amet, officia laboriosam. Sequi, rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fugiat reprehenderit ex voluptatibus repellat aut, esse, accusantium possimus velit reiciendis ratione error exercitationem.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <div class="droptarget">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="change-image" draggable="true">Change Image</button>
                </div>
                <div class="droptarget"></div>
            </div>
            <div class="mt-2">
                <div id="image-drop"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 col-sm-6 mb-2">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Change the background</h2>
                    <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                    <button class="btn btn-outline-light" type="button" id="change-background">Change Background</button>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Resize Image With Custom Event</h2>
                    <img src="https://getbootstrap.com/docs/5.0/examples/heroes/bootstrap-docs.png" class="d-block mx-lg-auto mb-4" width="300px" alt="Bootstrap Themes" loading="lazy" id="second-image">
                    <button class="btn btn-outline-secondary" type="button" id="custom-event">Custom Event</button>
                </div>
            </div>
        </div>
    </div>
</div> *@

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@section Scripts {
}
