<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] - Client</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/dist/modules/bootstrap/css/bootstrap.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/modules/fontawesome/css/all.min.css"  asp-append-version="true" />

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/dist/modules/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="~/dist/modules/bootstrap-social/bootstrap-social.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/dist/css/style.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/components.css"  asp-append-version="true" />

    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
</head>
<body>
    <div id="app" role="main">
        @RenderBody()
    </div>

    <!-- General JS Scripts -->
    <script src="~/dist/modules/jquery.min.js"></script>
    <script src="~/dist/modules/popper.js"></script>
    <script src="~/dist/modules/tooltip.js"></script>
    <script src="~/dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/dist/modules/moment.min.js"></script>
    <script src="~/dist/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/dist/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/dist/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Template JS File -->
    <script src="~/js/auth.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/data-source.js"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/dist/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
