@{
    ViewData["Title"] = "Latihan Ajax";
}

<!-- Main -->
<main class="container">
    <!-- Jumbotron -->
    <div data-aos="zoom-in">
        <div class="jumbotron pt-3 pb-0">
            <div class="row">
                <div class="col-5 m-md-auto m-lg-auto p-sm-4">
                    <h1>Food Receipe</h1>
                    <p class="d-sm-none d-lg-block">
                        Food receipe is a website that provides a variety of food recipes
                        from various countries. You can also share your favorite recipes
                        here.
                    </p>
                    <a class="btn btn-sm p-0" href="#" role="button">
                        How they work
                        <i class="fa fa-arrow-right ml-2"></i>
                    </a>
                </div>
                <div class="col-sm-12 col-md-7">
                    <img
                        src="~/assets/images/img-hero.svg"
                        alt="Receipe Contest"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Top -->
    <section class="row mb-4">
        <div class="col-sm-12 col-md-3">
            <h5 class="pt-1">Receipes 👩‍🍳</h5>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="search-container form-group">
                        <span class="fa fa-search placeholder-icon"></span>
                        <input
                            placeholder="Search receipes and more..."
                            class="form-control me-2"
                            id="searchElement"
                            type="search"
                        />
                        <button
                            class="btn btn-dark"
                            id="searchButtonElement"
                            type="button"
                        >
                            Search
                        </button>
                    </div>
                </div>
                <div class="col-5 d-sm-none d-md-block text-end">
                    <div class="dropdown d-none d-md-block">
                        <button
                            class="btn btn-dark rounded-pill dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Sort by:
                            <span id="sort-selected">Newest</span>
                        </button>
                        <div class="dropdown-menu">
                            <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                >Newest</a
                            >
                            <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                >Name (A-Z)</a
                            >
                            <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                >Name (Z-A)</a
                            >
                            <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                >Rating (Highests)</a
                            >
                            <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                >Rating (Lowest)</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Body -->
    <section class="row">
        <div class="d-none d-md-block col-3">
            <div class="d-flow-root">
                <h6 class="float-start">Filter by:</h6>
                <a
                    href="javascript:void(0)"
                    id="clearFilter"
                    class="text-filter float-end"
                    >Clear filter</a
                >
            </div>
            <hr />
            <div id="receipe-category"></div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div
                class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
                id="receipe-list"
            ></div>

            <div
                id="loader-text"
                class="loader loader-default is-active"
                style="display: none"
            >
                <div class="loader-message">Loading</div>
            </div>
        </div>
    </section>
</main>

<!-- Detail Page -->
<section class="details container mb-5" style="display: none">
    <nav class="d-flow-root" aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 float-start">
            <li class="breadcrumb-item"><a href="#">Receipe</a></li>
            <li class="breadcrumb-item active" id="current-page" aria-current="page"></li>
        </ol>
        <button
            id="backToLanding"
            class="btn btn-outline-danger rounded-pill float-end"
        >
            <i class="fa fa-arrow-left"></i> Back
        </button>
    </nav>

    <div class="row">
        <div class="col-12 col-md-5 mb-2">
            <img src="" id="detailImage" class="img-fluid img-shadow" />
        </div>
        <div class="col-12 col-md-7" id="detail-header">
            <h5 id="detail-title"></h5>
            <p class="author" id="detail-sourcename"></p>
            <div class="row recipe-details">
                <div class="col-12 col-md-4">
                    <img src="~/assets/images/clock-solid.svg" class="icon-detail-svg" />
                    <span id="detail-preparationminutes"></span>
                </div>
                <div class="col-12 col-md-4">
                    <img src="~/assets/images/hat-chef-solid.svg" class="icon-detail-svg" />
                    <span>EASY</span>
                </div>
                <div class="col-12 col-md-4">
                    <img
                        src="~/assets/images/utensils-solid.svg"
                        class="icon-detail-svg"
                    />
                    <span id="detail-servings"></span>
                </div>
                <div class="col-12 mt-3 text-justify">
                    <p id="detail-summary"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-5 mb-4">
            <h5>Ingredients</h5>
            <hr />
            <div class="card-inggredient px-3 py-3">
                <ul class="ingredients"></ul>
            </div>
        </div>
        <div class="col-12 col-md-7 mb-4">
            <h5>Method</h5>
            <hr />
            <ol class="methods"></ol>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/latihanAjax.js"></script>
    <script src="~/js/ajax/data-source.js"></script>
    <script src="~/js/ajax/custom.js"></script>
}
